.profile-container {
    position: fixed;
    background: rgba(22, 24, 30, 0.95);
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding: @xxl-stack 0;
    height: 100vh;
    overflow: hidden;

    .close-btn {
        position: absolute;
        top: @4xl-stack;
        transform: translateX(((@layer-width / 2) + 70 ));
        right: 50%;
        font-size: @l-base-font-size;
    }
}

.profile {
    margin: 0 auto @xxl-stack auto;
    max-width: @layer-width;
    padding: @xxl-stack @4xl-stack;  
    background-color: @s2-white;   
    height: 80vh;
    overflow: scroll;
    position: relative;

    .add-skill-btn {
        position: fixed;
        right: 50%;
        transform: translateX(((@layer-width / 2) + 70 ));
        bottom: @xxl-inline;
        background-color: @s2-red;
        height: 70px;
        width: 70px;
        border-radius: 70px;
        font-size: 70px;
        line-height: 70px;
        color: @s2-white;
        font-weight: 200;
        text-align: center;
        cursor: pointer;
        box-shadow: @s2-box-shadow-dark;
    }
    .back-btn {
        position: absolute;
        top: @4xl-stack;
        left: 50%;
        transform: translateX((-@layer-width / 2));
        height: 30px;   
        bottom: @xxl-inline;
        background-color: @s2-red;
        cursor: pointer;
    }
}