html {
    background-color: white;
    font-family: Tahoma, sans-serif;

}

ul {
    display: inline;
}

h4 {
    margin: (3px + 0);
}

.header {
    height: 50px;
    width: 100%;
    background-color: #9b9b9b;
    margin-bottom: 65px;
}