
.header {
    height: @xl-stack;
    width: 100%;
    color: @s2-red;
    padding-left: @s-inline;
    padding-top: @s-inline;

    .s2-logo {
        height: 18px;
        width: 92px;
        background-image: data-uri("@{image-path}/s2-logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

}