.results-container {
    margin-top: @xl-stack;
    display: inline-block;
    width: 100%;
    margin-bottom: @3xl-stack;

    .counter {
        display: block;
        text-align: center;
        font-size: @m-title-font-size;
        color: @s2-red;
        height: @3xl-stack;
        margin-bottom: @xxl-stack;

         &:after {
            content: "\2303";
            height: 4px;
            font-size: @l-title-font-size;
            font-weight: 300;
            right: calc(50% - @l-inline);
            margin-top: @3xl-stack;
            position: absolute;
            pointer-events: none;
            transform: rotate(180deg);
        }
    }

    &.empty {
        .counter {
            &:after {
                content: none;
            }
        }
    }
}

.results {
    display: block-flex;
    padding: 0;  
}
